nav .active {
	font-weight: bold;
}

.loading {
	color: #888;
	font-style: italic;
	text-align: center;
}

.metronome-btns {
	margin-bottom: 16px;
	position: relative;
	transition: opacity .2s ease;

	i {
		cursor: pointer;
		transition: all .2s ease;

		&.inactive {
			cursor: default;
			opacity: .5;
		}

		&:before {
			font-size: 40px;
		}

		&#play-btn {
			color: $green;

			&:before {
				font-size: 100px;
				margin: 0 16px;
			}

			&.fa-stop-circle {
				color: $red;
			}
		}
	}
}

.song-item {
	cursor: pointer;
	transition: all .2s ease;

	&.current-song {
		background-color: rgba(0, 0, 0, 0.125);
	}
}

.metronome-display {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 16px;

	.metronome-change-btn {
		background-color: #555;
		color: white;
		font-size: 22px;
		height: 45px;
		text-align: center;
		width: 26px;
		display: flex;
		align-items: center;
		justify-content: center;

		&.minus {
			border-radius: 4px 0 0 4px;
		}
		&.plus {
			border-radius: 0 4px 4px 0;
		}
	}

	#bpm-value {
		border-width: 1px 0;
		border-color: #DDD;
		border-style: solid;
		background-color: white;
		font-size: 22px;
		padding: 4px 16px;
		text-align: center;
		transition: all .1s ease;
	}
}

.metronome-steps {
	margin-bottom: 24px;

	> span {
		background-color: white;
		border: 1px solid #BBB;
		height: 12px;
		margin: 0 4px;
		width: 32px;

		&.active {
			background-color: $orange;
			border-color: $orange;
		}

		&:first-child.active {
			background-color: $blue;
			border-color: $blue;
		}
	}
}

#song-lists-list {

	> li {
		display: flex;
		justify-content: space-between;

		.list-info {
			margin-right: 8px;
		}

		.action-container {
			align-items: center;
			display: flex;
			height: 100%;
			justify-items: center;

			i {
				font-size: 18px;

				&.edit-list-btn {
					color: $blue;
				}
				&.delete-list-btn {
					color: $red;
					margin-left: 6px;
				}
			}
		}
	}
}

#songs {

	&.edit-songs {

		.song-item {
			display: flex;
			justify-content: space-between;

			.song-info {
				margin-right: 8px;
			}

			.action-container {
				align-items: center;
				display: flex;
				height: 100%;
				justify-items: center;

				i {
					font-size: 18px;

					&.edit-song-btn {
						color: $blue;
						margin-right: 6px;
					}
					&.delete-song-btn {
						color: $red;
					}
				}
			}
		}
	}
}